body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: Arial, sans-serif;
	font-size: 2rem;
    text-decoration: none;
    color: #282828;
	line-height: 1.6;
	background-color: #ffffff;
    }

.site-wrapper {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

header.site-header {
    background-color: #0077cc;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .site-name {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none; 
}

.header .site-name :hover
.header .site-name :focus
.header .site-name :visited {
    color: #ffffff;
    text-decoration: none;
}

header nav {
    position: relative;
}

header .menu-toggle {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
}

header .menu-toggle svg {
    fill: #ffffff;
}

header .nav-menu {
    list-style: none;
    display: none;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 10px 0;
    background-color: #0077cc;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
}

header .menu-toggle.active + .nav-menu {
    display: flex;
}

header .nav-menu li {
    margin: 0;
    text-align: center;
}

header .nav-menu li a {
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    transition: color 0.3s;
}

header .nav-menu li a:hover {
    color: #ffffff;
}
/* Main */

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
    flex-wrap: wrap;
}

.intro .profile-pic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 2.5rem;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #0077cc;
}

.my-intro {
    max-width: 37.5rem ;
}

.my-intro h1 {
    font-size: 2.5rem;
    color: #282828;
    margin-bottom: 10px;
}

.my-intro p {
    font-size: 1.2rem;
    color: #282828;
    margin-bottom: 20px;

}